{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
    <meta name="keywords" content="">
	<meta name="author" content="">
	<meta name="robots" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="SanDi - Espace de gestion des prélèvements">
	<meta property="og:title" content="SanDi - Espace de gestion des prélèvements">
	<meta property="og:description" content="SanDi - Espace de gestion des prélèvements">
	<meta name="format-detection" content="telephone=no">
    <title>SanDi - La petite fille intelligente </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/SanDi_ico.png' %}">
	<!-- Form step -->
	<link href="{% static 'vendor/jquery-smartwizard/dist/css/smart_wizard.min.css' %}" rel="stylesheet">
	<link href="{% static 'vendor/bootstrap-daterangepicker/daterangepicker.css'%}" rel="stylesheet">
    <!-- Clockpicker -->
    <link href="{% static 'vendor/clockpicker/css/bootstrap-clockpicker.min.css' %}" rel="stylesheet">
    <!-- asColorpicker -->
    <link href="{% static 'vendor/jquery-asColorPicker/css/asColorPicker.min.css' %}" rel="stylesheet">
	<!-- Alert -->
	<link href="{% static 'vendor/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet">
    <!-- Material color picker -->
    <link href="{% static 'vendor/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css' %}" rel="stylesheet">
    <!-- Pick date -->
    <link rel="stylesheet" href="{% static 'vendor/pickadate/themes/default.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/pickadate/themes/default.date.css' %}">


	<link rel="stylesheet" href="{%static 'vendor/chartist/css/chartist.min.css' %}">
    <link href="{%static 'vendor/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'vendor/select2/css/select2.min.css' %}">
	<link href="{%static 'vendor/owl-carousel/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
	<!-- Toastr -->
    <link rel="stylesheet" href="{% static 'vendor/toastr/css/toastr.min.css' %}">
	<!-- DataTables -->
	<link href="{% static 'vendor/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet">
	
	
</head>
<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

		<!--**********************************
            Start Header
        ***********************************-->
		{% include 'sandi/containers/_header.html' %}
		<!--**********************************
            End Header
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        {% include 'sandi/containers/_sidebar.html' %}

        <div class="content-body">
            <div class="container-fluid">
				{% for message in messages %}
					{% if message.tags == "error"%}
					<div class="alert alert-danger alert-dismissible fade show">
						<svg viewbox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
						<strong>Erreur! </strong> {{message}}
						<button type="button" class="close h-100" data-dismiss="alert" aria-label="Close"><span><i class="mdi mdi-close"></i></span>
						</button>
					</div>
                    {% else %}
                    <div class="alert alert-secondary alert-dismissible fade show">
						<svg viewbox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
						<strong>Bien joué!</strong> {{message}}
						<button type="button" class="close h-100" data-dismiss="alert" aria-label="Close"><span><i class="mdi mdi-close"></i></span>
						</button>
					</div>
                    {% endif %}
            	{% endfor %}
                {% block content %}

                {% endblock content %}

            </div>

		</div>
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="../index.htm" target="_blank">DexignZone</a> 2021</p>
            </div>
        </div>

    </div>
    
    <script src="{% static 'vendor/global/global.min.js' %}"></script>
	<script src="{% static 'vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
	<script src="{% static 'vendor/select2/js/select2.full.min.js' %}"></script>
    <script src="{% static 'js/plugins-init/select2-init.js' %}"></script>
	<script src="{% static 'vendor/chart.js/Chart.bundle.min.js' %}"></script>
	 <!-- Toastr -->
	 <script src="{% static 'vendor/toastr/js/toastr.min.js' %}"></script>

	<!-- Alert -->
	 <script src="{% static 'vendor/sweetalert2/dist/sweetalert2.min.js' %}"></script>
	 <script src="{% static 'js/plugins-init/sweetalert.init.js' %}"></script>

	 <!-- All init script -->
	 <script src="{% static 'js/plugins-init/toastr-init.js' %}"></script>

	 <!-- All DataTables -->
	 <script src="{% static 'vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
	 <script src="{% static 'js/plugins-init/datatables.init.js' %}"></script>

	<!-- Chart piety plugin files -->
    <script src="{% static 'vendor/peity/jquery.peity.min.js' %}"></script>
	
	<!-- Apex Chart -->
	<script src="{% static 'vendor/apexchart/apexchart.js' %}"></script>
	
	<!-- Dashboard 1 -->
	<script src="{% static 'js/dashboard/dashboard-1.j' %}s"></script>

	<script src="{% static 'vendor/jquery-steps/build/jquery.steps.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-validation/jquery.validate.min.js' %}"></script>
    <!-- Form validate init -->
    <script src="{% static 'js/plugins-init/jquery.validate-init.js' %}"></script>

   <!-- Form Steps -->
	<script src="{% static 'vendor/jquery-smartwizard/dist/js/jquery.smartWizard.js' %}"></script>
	  <!-- Daterangepicker -->
    <!-- momment js is must -->
    <script src="{% static 'vendor/moment/moment.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
	 <!-- clockpicker -->
	 <script src="{% static 'vendor/clockpicker/js/bootstrap-clockpicker.min.js' %}"></script>
	 <!-- asColorPicker -->
	 <script src="{% static 'vendor/jquery-asColor/jquery-asColor.min.js' %}"></script>
	 <script src="{% static 'vendor/jquery-asGradient/jquery-asGradient.min.js' %}"></script>
	 <script src="{% static 'vendor/jquery-asColorPicker/js/jquery-asColorPicker.min.js' %}"></script>
	    <!-- Material color picker -->
		<script src="{% static 'vendor/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js' %}"></script>
	    <!-- pickdate -->
		<script src="{% static 'vendor/pickadate/picker.js' %}"></script>
		<script src="{% static 'vendor/pickadate/picker.time.js' %}"></script>
		<script src="{% static 'vendor/pickadate/picker.date.js' %}"></script>
	
		<!-- Daterangepicker -->
		<script src="{% static 'js/plugins-init/bs-daterange-picker-init.js' %}"></script>
		<!-- Clockpicker init -->
		<script src="{% static 'js/plugins-init/clock-picker-init.js' %}"></script>
		 <!-- asColorPicker init -->
		 <script src="{% static 'js/plugins-init/jquery-asColorPicker.init.js' %}"></script>
	    <!-- Material color picker init -->
	<script src="{% static 'js/plugins-init/material-date-picker-init.js' %}"></script>
	  <!-- Pickdate -->
	<script src="{% static 'js/plugins-init/pickadate-init.js' %}"></script>
	
	<script src="{% static 'vendor/owl-carousel/owl.carousel.js' %}"></script>
    <script src="{% static 'js/custom.min.js' %}"></script>
	<script src="{% static 'js/deznav-init.js' %}"></script>
    <script src="{% static 'js/demo.js' %}"></script>
	<script src="{% static 'js/generate.js' %}"></script>
    <script src="{% static 'js/showHide.js' %}"></script>
    <script src="{% static 'js/styleSwitcher.js' %}"></script>
    {% block script %}
    
    {% endblock %}
</body>
</html>