{% extends "sandi/base.html"%}
{% block content %}
<div class="row">
    <div class="col-xl-6 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4>Détails de la refèrence <a href="{% url 'mise-a-jour-valeur-reference' reference.id %}">  <i class="fa fa-pencil" title="Modifier le patient"></i></a></h4>
            </div>
                         <div class="profile-personal-info">
                                <div class="row mb-2">
                                    <div class="col-sm-3 col-5">
                                        <h5 class="f-w-500">Examen<span class="pull-right">:</span>
                                        </h5>
                                    </div>
                                    <div class="col-sm-9 col-7"><span>{{reference.examen}}</span>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-sm-3 col-5">
                                        <h5 class="f-w-500">Valeur de refèrence <span class="pull-right">:</span></h5>
                                    </div>
                                    <div class="col-sm-9 col-7"><span>{{reference.valeur_reference}}</span>
                                    </div>
                                </div>
                               
                                <div class="modal-footer">
                                    <a href="{% url 'valeurs-reference' %}"><button type="button" class="btn btn-light"><i class="fa fa-arrow-left"></i>Liste</button></a>

                                </div>
                            
                        </div>
            
        </div>
    </div>

</div>
{% endblock %}