{% extends "sandi/base.html"%}
{% block title %}Liste des valeurs de refèrence{% endblock title %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                    <a href="{% url 'creer-valeur-reference' %}"><button type="button" class="btn btn-info"> <i class="flaticon-381-network"></i> <b>Ajouter une valeur de refèrence</b></button>
                    </a>
                </h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example3" class="display" style="min-width: 845px">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Examen</th>
                                <th>Valeur de refèrence</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for reference in list_reference %}
                            <tr>
                                <td><img class="rounded-circle" width="35" src="" alt=""></td>
                                <td>{{reference.examen}}</td>
                                <td>{{reference.valeur_reference}}</td>
                                <td>
                                    <div class="d-flex">
                                        <a href="{% url 'detail-valeur-reference' reference.id %}" class="btn btn-primary shadow btn-xs sharp mr-1"><i class="fa fa-eye"></i></a>
                                        <a href="{% url 'mise-a-jour-valeur-reference' reference.id %}" class="btn btn-secondary shadow btn-xs sharp mr-1"><i class="fa fa-pencil"></i></a>

                                        <!--<a href="#" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>-->
                                    </div>
                                    
                                        <!--<a href="#" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>-->
                                   
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}